<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" *ngIf="this.FormStatus == false"> Sign In </h2>
      <h2 class="inactive underlineHover" *ngIf="this.FormStatus == true" (click) = "redirectLoginForm()"> Sign In </h2>
      <h2 class="active" *ngIf="this.FormStatus == true">Sign Up </h2>
      <h2 class="inactive underlineHover" *ngIf="this.FormStatus == false" (click) = "redirectRegisterForm()">Sign Up </h2>

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://i.ibb.co/41zP40z/nft.webp" alt="nft" width="200dx" height="100dx">
      </div>

      <!-- Login Form -->
      <form *ngIf="this.FormStatus == false">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="this.authRequest.Email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="this.authRequest.Password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="loginSubmit()">
      </form>

      <!-- Register Form -->
      <form *ngIf="this.FormStatus == true">
        <input type="text" id="login" class="fadeIn second" name="register" placeholder="username" [(ngModel)]="this.userDTO.Username">
        <input type="password" id="password" class="fadeIn third" name="register" placeholder="password" [(ngModel)]="this.userDTO.Password">
        <input type="password" id="password" class="fadeIn third" name="register" placeholder="confirm password" [(ngModel)]="this.confirmPassword">
        <div class="fadeIn second" style="color: red;font-size: 10px;" *ngIf="this.userDTO.Password != this.confirmPassword"><span>{{this.PasswordMessage}}</span></div>
        <input type="text" id="gmail" class="fadeIn third" name="register" placeholder="firstname" [(ngModel)]="this.userDTO.FirstName">
        <input type="text" id="gmail" class="fadeIn third" name="register" placeholder="lastname" [(ngModel)]="this.userDTO.LastName">
        <input type="text" id="gmail" class="fadeIn third" name="register" placeholder="gmail" [(ngModel)]="this.userDTO.Email">
        <div class="fadeIn second" style="color: red;font-size: 10px;" *ngIf="this.userDTO.Email == ''"><span>Email must be not null</span></div>
        <br>
        <input type="text" id="otp" class="fadeIn third" name="register" placeholder="OTP" [(ngModel)]="this.otpCode">
        <div class="fadeIn second" style="color: red;font-size: 10px;"><span>OTP will expire after 30s</span></div>
        <div class="fadeIn second" style="color: red;font-size: 10px;"><span>{{this.OTPMessage}}</span></div>
        <input type="submit" class="fadeIn fourth" value="Send OTP" (click)="sendOTP()" *ngIf="this.clicked == true">
        <input type="submit" class="fadeIn fourth" value="Sign Up" (click)="registerSubmit()">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="https://localhost:7219/api/identity/login">SSO</a>
      </div>
    </div>
  </div>
